/*

!/.gitignore
!/.gitmodules
!/.profile
!/.xprofile
!/.zprofile
!/gtkrc-2.0

!/.config
/.config/*

!/.config/fdignore
!/.config/ytignore
!/.config/mimeapps.list
!/.config/infokey
!/.config/picom.conf
!/.config/sdcv_ordering
!/.config/starship.toml

!/.config/shell
/.config/shell/*
!/.config/shell/aliasrc
!/.config/shell/bm-files
!/.config/shell/bm-dirs
!/.config/shell/inputrc
!/.config/shell/profile

!/.config/zsh
/.config/zsh/*
!/.config/zsh/plugins
!/.config/zsh/command-tools.zsh
!/.config/zsh/zprofile
!/.config/zsh/.zshrc

!/.config/gh/config.yml

!/.config/python
/.config/python/*
!/.config/python/pythonrc

!/.config/ipython
/.config/ipython/*
!/.config/ipython/profile_default
/.config/ipython/profile_default/*
!/.config/ipython/profile_default/startup
!/.config/ipython/profile_default/ipython_config.py

!/.config/jupyter
/.config/jupyter/*
!/.config/jupyter/lab
/.config/jupyter/lab/*
!/.config/jupyter/lab/user-settings
!/.config/jupyter/jupyter_console_config.py
!/.config/jupyter/jupyter_notebook_config.py

!/.config/terminal-colors.d
!/.config/wget
!/.config/htop
!/.config/gotop
!/.config/tmux
!/.config/nvim
!/.config/lf
!/.config/sc-im
!/.config/yt-dlp
!/.config/git
!/.config/fd

!/.config/gtk-2.0
!/.config/gtk-3.0
!/.config/gtk-4.0
!/.config/lxsession
!/.config/X11

!/.config/i3
!/.config/i3blocks
!/.config/jgmenu
!/.config/keepassxc
!/.config/zathura
!/.config/Zeal

!/.local
/.local/*
!/.local/bin
/.local/bin/.st*

!/.local/share
/.local/share/*
!/.local/share/fzf
/.local/share/fzf/*
!/.local/share/applications
/.local/share/applications/mimeinfo.cache
!/.local/share/chars

shortcutrc
shortcuts*
*.sync-conflict-*
